:root {}

html {
    background-image: linear-gradient(black, navy);
}

.background {
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.star {
    position: fixed;
    height: 5px;
    width: 5px;
    opacity: 20%;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
    animation-name: star;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes star {
    50% {
        transform: scale(2);
        opacity: 80%;
    }
}